/build/
/.settings/
/.classpath
/.project
/.direcotry
/.gradle/
/bin/
/dartbuild/
/src/main/dart/packages/
/src/main/dart/web/packages/
/src/main/dart/.pub
/src/main/resources/static/web
getdown-hosts-common.iml